.image {
  height: 200px;
  margin: 30px;
}

.form__block {
}

.form__file {
  margin: 0 auto;
  margin-top: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ffc107;
  cursor: pointer;
}

.file {
  display: none;
}

.chb {
  filter: grayscale(100%);
}
.ivert {
  filter: invert(100%);
}

.sepia {
  filter: sepia(100%);
}

.filter {
  filter: brightness(50%);
}

.but_margin {
  padding: 0;
  margin: 20px;
}

input {
  width: 50px;
  height: 30px;
  padding: 0 20px;
}

.but__block {
  display: flex;
  align-items: center;
  display: none;
  justify-content: center;
}

#list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input__width {
  margin-right: 10px;
}

.iw {
  width: 100px;
}

.bg {
  background-color: cadetblue;
  height: 100%;
  opacity: 1;
  overflow: auto;
  position: absolute;
}

@media (max-width: 900px) {
  .but__block {
    display: flex;
    align-items: center;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
  }
}
